{% extends "base.html" %}

{% include 'navbar.html' %}

{% block page_content %}

<div class="container-fluid">
    <div class="row justify-content-center my-5">
            <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Voila..Password reset instructions sent!</h4>
            </div>
            <div class="card-body">
                <p>
                    We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
                </p>
                <p>You should receive them shortly.</p>
                <p>
                    If you don’t receive an email, please make sure you’ve entered the address you registered with, and <strong>check your spam folder.</strong>
                </p>
                <p>
                      If you are still having issues resetting password or your account, please contact us at hello@kleeppr.com
                </p>
                <p>
                    Thank you for using Kleeppr!
                </p>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}