{% extends "base.html" %}

{% include 'navbar.html' %}

{% block page_content %}

    <div class="container-fluid">
        <div class="row justify-content-center my-5">
            <div class="col-lg-6">

            {% if not validlink %}

                <ul class="flashes">

                  <div class="alert alert-primary" role="alert">{{ validlink }} Please follow password reset instructions in your email. </div>

                </ul>

            {% else %}

                <div class="card">
                    <div class="card-header ">
                        <h4>Reset password</h4>
                        <h6 class="text-muted ">Please enter your new password and confirm it.</h6>
                    </div>


                    <div class="card-body ">

                        {% comment %}
                            Note: password reset confirm form should not have "action" attribute else it will throw "Reverse for 'password_reset_confirm' with no arguments not found"
                            error
                        {% endcomment %}
                        <form id="password_reset_confirm_form" method="post" name="password_reset_confirm_form" class="needs-validation" novalidate>

                             {% csrf_token %}

                            <div class="form-group">
                                <label for="new_password1">New Password </label>
                                <input type="password" class="form-control" id="new_password1" name="new_password1" aria-describedby="New Password" placeholder="" required>
                                <div class="invalid-feedback">
                                 {% get_field_invalid_msg 'new_password1' form.errors 'Password is required.' %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new_password2">Confirm Password </label>
                                <input type="password" class="form-control" id="new_password2" name="new_password2" aria-describedby="Confirm Password" placeholder="" required>
                                <div class="invalid-feedback">
                                 {% get_field_invalid_msg 'new_password2' form.errors 'Password is required.' %}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-secondary" name="submit" value="Change my password">Change My Password</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div>Don't have account? <a class="card-link" href="{% url 'register' %}">Sign up</a> </div>
                        <div>Forgot Password? Click here: <a class="card-link" href="{% url 'password_reset' %}">Reset Password</a> </div>
                        <!--div>Forgot username or password? Send us an email at <a class="card-link" href="mailto:account@kleeppr.com">account@kleeppr.com</a> </div-->
                    </div>
                </div>
            </div>

            {% endif %}

            </div>
        </div>

{% endblock %}

{% block custom_js %}
<script>
   formValidatorEventListener ();
</script>

{% endblock%}