{% extends "base.html" %}

{% include 'navbar.html' %}

{% block page_content %}

<div class="container-fluid">
    <div class="row justify-content-center my-5">
            <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Congrats..Password reset is complete!</h4>
            </div>
            <div class="card-body">
                <p>
                   Your password has been set. You may go ahead and log in now here: <a class="card-link " href="{% url 'login' %}" style="color:#556CD6">Sign In</a>
                </p>
                <p>
                    Thank you for using Kleeppr!
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}