{% extends "base.html" %}

{% include 'navbar.html' %}

{% block page_content %}
    {% load static %}
    <div class="container-fluid">
        <div class="row mx-md-5 justify-content-center">
            <div class="col text-center">
                <h2 class="mt-5"> Oops, we don't have a page you are looking for! </h2>
                    <h4 class="text-muted">Please go back to our homepage or contact us if you suspect something wrong.</h4>
                    <img class="img-fluid my-5 w-25" src="{% static 'img/salvor-cat-1.svg' %}" alt="">
                    <p class="small text-muted"> 403 Forbidden </p>
            </div>
        </div>
    </div>

{% endblock %}