{% extends "base.html" %}

{% include 'navbar.html' %}

{% block page_content %}

<div class="container">
    <div class="card mt-2">

        <div class="card-body">
    <h5 class="card-title">Bookmarklet</h5>
    <p class="card-text">This bookmarklet quickly fills in Kleeppr email id in newsletter subscription form. To use, first click on email field on
subscription form and then click on bookmarklet.</p>
<p>
Drag and drop <a class="btn btn-primary btn-sm"
                 href="javascript:(function()%7Bvar%20e%20%3D%20document.activeElement%3Be.value%20%3D%20%22u%2B{{ pseudo_email }}%40kleeppr.com%22%7D)()">
        Kleeppr Bookmarklet</a> on browser's bookmark bar to install it.</p>
</div>
</div>
{% endblock %}