{% extends "base.html" %}

{% include 'navbar.html' %}

{% block page_content %}

    <div class="container-fluid">
        <div class="row mx-md-5 ">

                <div class="col-md-2 mt-3">
                {%  if nwl %}
                 <div class="card text-center">
                                <!---img class="card-img-top" data-src="holder.js/100x180/" alt="Card image cap"-->
                                <div class="card-header ">
                                    <h6> {{ nwl.letter }} </h6>
                                    <h6 class="text-muted"> By {{ nwl.author }}</h6>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ nwl.desc }} </p>
                                </div>
                                <div class="container mb-1">
                                    <p class="card-text small text-muted">{{ nwl.get_tags }} {{ nwl.get_frequency }}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <a href="{{ nwl.url }}" target="_blank" class="btn btn-subscribe stretched-link">View Webpage</a>
                                </div>
                    </div>

                     {% elif not pending_confirm %}
                     {% with request.resolver_match.url_name as url_name %}
                        <nav class="nav tags flex-md-column nav-fill nav-pills">
                            <a class="nav-link {% if url_name == 'recent' %} active{% endif %}" href="{% url 'recent' %}">New & Noteworthy</a>
                            <a class="nav-link {% if url_name == 'feed' %} active{% endif %}"
                                    href="{% url 'feed' %}">Timeline</a>
                        </nav>
                    {% if url_name == 'recent' %}
                        <!--div class="alert alert-secondary" role="alert">
                            <small>Snapshot shows recent issue of each newsletter.</small>
                        </div-->
                    {% endif %}

                     {% endwith %}

                     {% endif %}
                </div>

            <div class="col col-md-10 mt-2 pl-0">
            <!--div class="col pl-6 ml-sm-5 mr-sm-5"-->
            <!--div class="col col-md-10 offset-md-1"-->
            {% if page_obj.paginator.count <= 0 %}
                <div class="card-body mt-0 pt-2">
                    {% load form_helper %}
                    {% with request.resolver_match.url_name as url_name %}
                    {% is_recent_account request.user.date_joined as is_new_user %}
                    {% if is_new_user %}
                        {% if url_name == 'recent' %}
                        <div class="alert alert-warning">
                              Hey, have you <a href="{% url 'explore' %}"> subscribed </a> to a newsletter?
                              If yes then hang tight, your newsletter issue must be in flight!
                          </div>
                          <img class="embed-responsive-item w-50" src="https://media.giphy.com/media/q62RmgTAJzjIk/giphy.gif"
                                     allowfullscreen></img>


                        {% elif url_name == 'confirmsub' %}
                            <div class="alert alert-warning">
                                You have no pending subscriptions. Btw have you <a href="{% url 'explore' %}"> subscribed </a> to a newsletter?
                          </div>
                        {% else %}
                          <div class="alert alert-warning">
                              Hey, have you <a href="{% url 'explore' %}"> subscribed </a> to a newsletter?
                              If yes then hang tight, your newsletter issue must be in flight!
                          </div>
                          <img class="embed-responsive-item w-50" src="https://media.giphy.com/media/q62RmgTAJzjIk/giphy.gif"
                                     allowfullscreen></img>

                        {% endif %}
                    {% else %}
                        {% if url_name == 'recent' %}
                            <div class="alert alert-warning">
                                  Hi there, we too are waiting for new issues!
                              </div>
                               <img class="embed-responsive-item w-50" src="https://media.giphy.com/media/xTkcEQACH24SMPxIQg/giphy.gif"
                                         allowfullscreen></img>

                        {% elif url_name == 'confirmsub' %}
                            <div class="alert alert-warning">
                                You have no pending subscriptions.
                          </div>
                        {% else%}
                          <div class="alert alert-warning">
                              Hey, we have been waiting for your newsletter issues!
                          </div>
                          <img class="embed-responsive-item w-50" src="https://media.giphy.com/media/xTkcEQACH24SMPxIQg/giphy.gif"
                                     allowfullscreen></img>

                        {% endif %}
                     {% endif %}

                    {% endwith %}


                            <!--img class="embed-responsive-item w-100" src="https://media.giphy.com/media/xTkcEQACH24SMPxIQg/giphy.gif"
                                 allowfullscreen></img-->
                 </div>


            {% else %}


                <ul class="list-group list-group-flush feed">
                    {% for feed_rec in page_obj.object_list  %}
                    <li class="list-group-item py-0">
                        <div class="card border-0">
                            <div class="card-body">
                                <a href="{% url 'letter' message_id=feed_rec.message_id %}">
                                    <h5 class="card-title"> {{ feed_rec.subject | safe }}</h5>
                                </a>
                                <h6 class="card-subtitle text-muted mt-1">{{ feed_rec.nwl_id.letter | title }} by {{ feed_rec.nwl_id.author }}</h6>
                                <p class="card-text mt-2" style="font-size:15px">{{ feed_rec.intro |safe }}...</p>

                                <div class="card-text">
                                    <small>{{ feed_rec.get_x_time_ago }} | {{ feed_rec.nwl_id.get_tags }}</small>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

                <div class="card border-0">
                    <div class="card-body pb-1 mx-4">
                        <div class="d-flex justify-content-end">
                            {% comment %}
                            <!--div>
                                <a href="{% url request.resolver_match.url_name %}">
                                    <button type="button" class="btn btn-sm btn-dark">Refresh</button>
                                </a>
                            </div-->
                            {% endcomment %}


                            <div class="nav">
                                 <ul class="pagination pagination-sm">
                                     <li class="page-item text-center small text-muted m-2">

                                             {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

                                     </li>
                                    {% if page_obj.has_previous %}
                                     <li class="page-item">
                                        <a class="page-link" href="?page=1">&laquo; first</a>
                                     </li>
                                     <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                                     </li>
                                    {% endif %}

                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}