
{% block navbar %}
        {% with request.resolver_match.url_name as url_name %}
            <nav class="navbar navbar-expand-md navbar-light" style="background-color2:#F5F9FC">
                <div class="container-fluid mx-md-5">
                    {% if request.user.is_authenticated %}
                        <a class="navbar-brand h3 col-2 mr-0" href="{% url 'feed' %}">
                            { Kleeppr }
                        </a>
                    {% else %}
                        <a class="navbar-brand h3 col-2 mr-0" href="{% url 'index' %}">
                          { Kleeppr }
                        </a>
                    {% endif %}

                    {% if request.user.is_authenticated and url_name != "search" %}

                        <!-- note data-target pointing to collapse-div -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#klpMenu"
                                aria-controls="klpMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- put everything that goes inside hamberger menu inside "collapse navbar-collapse" class -->
                        <div class="collapse navbar-collapse pl-0" id="klpMenu">

                            <ul class="navbar-nav">
                                <!-- nav-link text below is right justified in style.css for hanmberger menu -->

                                    <a class="nav-link {% if url_name == 'feed' or url_name == 'recent' %} active {% endif %}" href="{% url 'recent' %}">Feed</a>
                                    <a class="nav-link {% if url_name == 'mysub' %} active {% endif %} " href="{% url 'mysub' %}" >Subscriptions</a>
                                    <a class="nav-link {% if url_name == 'confirmsub' %} active {% endif %} " href="{% url 'confirmsub' %}">Pending Confirmations</a>
                                    <a class="nav-link {% if url_name == 'explore' %} active {% endif %}" href="{% url 'explore' %}">Explore</a>

                            </ul>

                            <ul class="navbar-nav ml-md-auto pl-5">
                                 <a class="nav-link {% if url_name == 'tour' %} active {% endif %}" href="{% url 'tour' %}">Tour</a>
                                {% if request.session.appid %}
                                    <!--a tabindex="0" class="nav-link" role="button" data-toggle="popover" data-placement="bottom"
                                       title="Your Kleeppr Email"
                                       data-content="{{ request.session.appid }}@private.kleepprid.com">
                                        Email
                                    </a>
                                    <a class="nav-link {% if url_name == 'bookmark' %} active {% endif %}" href="/bookmark">Bookmarklet</a-->
                                 <a class="nav-link {% if url_name == 'bookmark' %} active {% endif %}" href="{% url 'bookmark' %}">Kleeppr ID</a>

                                {% endif %}
                                <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
                            </ul>


                        {% else %}
                             <!-- ml-lg-auto: margin left set to auto for large screen thats shifts to this item to right -->


                            <ul class="navbar-nav ml-md-auto pl-5">
                                 {% if not request.user.is_authenticated and url_name == "search" %}
                                    <a class="nav-link btn btn-sm btn-subscribe mx-2" style="color:#fff" href="{% url 'register' %}">Create Account</a>
                                    <a class="nav-link btn btn-sm btn-subscribe mx-2" style="color:#fff" href="{% url 'login' %}">Sign In</a>
                                 {% endif %}
                                <a class="nav-link active" href="mailto:hello@kleeppr.com">hello@kleeppr.com</a>
                            </ul>
                            {% endif %}

                    </div>
                </div>
            </nav>
{% endwith %}

 {% endblock %}
