{% extends "base.html" %}

{% include 'navbar.html' %}

{% block page_content %}

    <div class="container-fluid">
        <div class="row justify-content-center my-5">
            <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>Sign up for Kleeppr</h4>
                    <h6 class="trial-text">Discover email newsletters and subscribe to them <strong>anonymously</strong></h6>
                    <!--h6 class="trial-text">
                          Try FREE for 6 Months, $5.99/month after free trial , cancel anytime!
                    </h6-->
                </div>
                <div class="card-body">

                    {% if extra_context.error %}
                    <div class="alert alert-primary" > <i class="fas fa-exclamation-circle" style="color:#dc3545"></i>&nbsp;{{ extra_context.error }} </div>
                    {% endif %}

                    {% load form_helper %}
                    <form id="register_user_form" action="{%  url 'register' %}" method="POST" name="register_user_form" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Email address </label>
                            <input type="email"  value="{{ form.username.value |default:'' }}" class="form-control {% is_field_invalid 'username' extra_context.form_errors %}" id="username" name="username" aria-describedby="emailHelp" placeholder="{% if email %} {{ email }} {% else %} Enter your email {% endif %}" required>
                            <div class="invalid-feedback">
                                Valid email address is required.
                            </div>
                        </div>
                        <div class="form-group {% if email %} focus {% endif %}">
                            <label for="password1">Password</label>
                            <input type="password" class="form-control {% is_field_invalid 'password' extra_context.form_errors %}" id="password1" name="password1" placeholder="Password" required>
                            <div class="invalid-feedback">
                                Password is required.
                            </div>
                        </div>

                         <div class="form-group">
                            <label for="password2">Confirm Password</label>
                            <input type="password" class="form-control {% is_field_invalid 'password2' extra_context.form_errors %}" id="password2" name="password2" placeholder="Password" required>
                             <div class="invalid-feedback">
                                {% get_field_invalid_msg 'password2' extra_context.form_errors 'Password is required.' %}
                            </div>
                        </div>

                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="agreement" required>
                        <label class="form-check-label text-top" for="agreement">
                            I have read and agree to <a href="{% url 'privacy' %}"> Privacy Policy </a> , <a href="{% url 'cookie' %}"> Cookie Policy </a> and <a href="{% url 'terms' %}"> Terms and Conditions. </a>
                        </label>
                           <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>

                        <input id="next" name="next" type="hidden" value="{{ next }}">

                         <div class="g-recaptcha" data-sitekey="6Lck9fYZAAAAAP_UBW3b2N4Xhg12iCm8sjDF3po3" data-callback="onSubmit" data-size="invisible"></div>

                        <div class="mt-4">
                            <!--button type="submit" class="btn btn-subscribe" name="submit" value="Register">Start My Free Trial</button-->
                            <button type="submit" class="btn btn-subscribe" name="register" value="Register">Create My Account</button>
                        </div>

                    </form>

                </div>

                <div class="card-footer">
                    <div>Already have account? <a class="card-link" href="{% url 'login' %}">Sign In </a> </div>
                    <div>Forgot Password? Click here: <a class="card-link" href="{% url 'password_reset' %}">Reset Password</a> </div>
                </div>

            </div>
        </div>
        </div>
    </div>

{% endblock %}

{% block custom_js %}
<script>
    function onSubmit(token) {
      document.forms["register_user_form"].submit()
    }
   formValidatorEventListenerWithCaptcha();

</script>


{% endblock%}